$lt-gray: #ddd;
$background-dark : #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;
$carousel-height: 300px;
$fwhite: floralwhite;


@mixin zero-margin ($padud, $padlr) {
	margin: 0px auto;
	padding: $padud $padlr;
}

body {
	padding: 50px 0px 0px 0px;
	z-index: 0;
}

.row-header {
	@include zero-margin(0px,0px);
}
.row-content {
	@include zero-margin(50px,0px);
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: $background-pale;
	@include zero-margin(20px,0px);
}

.jumbotron {
	@include zero-margin(70px,30px);
	background: $background-light;
	color: $fwhite;
}

address {
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}

.navbar-dark {
	background-color: $background-dark;
}
.tab-content {
	border-left: 1px solid $lt-gray;
	border-right: 1px solid $lt-gray;
	border-bottom: 1px solid $lt-gray;
	padding: 10px;
}

.carousel {
	background: $background-dark;
	.carousel-item {
		height: $carousel-height;
		img {
			position: 	absolute;
			top: 0;
			left: 0;
			min-height: 300px;
		}
	}
}

#carouselButton {
	right: 0px;
	position: absolute;
	bottom: 0px;
	z-index: 1;
}
.pointer {
	cursor: pointer;
}
 
.modal-body {
	background-color: $background-pale;
}
.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: $background-dark;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     color: $fwhite;
     button {
     	color: $fwhite;
     }
}
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}



